@import 'mixins_and_variables_and_functions';

.limit-container-width {
  .flash-container,
  .detail-page-header,
  .page-content-header,
  .commit-box,
  .info-well,
  .commit-ci-menu,
  .files-changed-inner,
  .limited-header-width,
  .limited-width-notes {
    @include fixed-width-container;
  }

  .issuable-details {
    .detail-page-description,
    .mr-source-target,
    .mr-state-widget,
    .merge-manually {
      @include fixed-width-container;
    }
  }

  .merge-request-details {
    .emoji-list-container {
      @include fixed-width-container;
    }
  }
}

.issuable-details {
  section {
    .issuable-discussion {
      margin-right: 1px;
    }
  }

  .title-container {
    display: flex;
    align-items: flex-start;
  }

  .title {
    padding: 0;
    margin-bottom: $gl-spacing-scale-4;
    border-bottom: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-width: 0;
    width: 100%;
    text-align: initial;
  }

  .btn-edit {
    margin-left: auto;
  }
}

.detail-page-description {
  small {
    color: var(--gray-500, $gray-500);
  }
}

.edited-text {
  color: var(--gray-500, $gray-500);
  display: block;
  margin: 16px 0 0;
  font-size: $gl-font-size-small;

  .author-link {
    color: var(--gray-700, $gray-700);
    font-size: $gl-font-size-small;
  }
}

.user-item {
  padding: 5px;
  flex-basis: 20%;

  .user-link {
    display: inline-block;
  }
}

.issuable-gutter-toggle {
  @include media-breakpoint-down(sm) {
    margin-left: $btn-side-margin;
  }
}

.issuable-meta {
  flex: 1;
  display: inline-block;
  font-size: 14px;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;

  .user-status-emoji {
    margin-left: $gl-padding-4;
    margin-right: 0;
  }
}

.js-issuable-selector-wrap {
  .js-issuable-selector {
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: $gl-padding;
  }
}

.suggestion-footer {
  font-size: 12px;
  line-height: 15px;

  .avatar {
    margin-top: -3px;
    border: 0;
  }
}

.merge-request-notification-toggle {
  .gl-toggle {
    @include gl-ml-auto;
  }

  .gl-toggle-label {
    @include gl-font-weight-normal;
  }
}

.system-note-tiny-dot {
  width: 8px;
  height: 8px;
  margin-top: 6px;
  margin-left: 12px;
  margin-right: 8px;
  border: 2px solid var(--gray-50, $gray-50);
}


.system-note-icon {
  width: 20px;
  height: 20px;
  margin-left: 6px;

  &.gl-bg-green-100 {
    --bg-color: var(--green-100, #{$green-100});
  }

  &.gl-bg-red-100 {
    --bg-color: var(--red-100, #{$red-100});
  }

  &.gl-bg-blue-100 {
    --bg-color: var(--blue-100, #{$blue-100});
  }
}

.system-note-icon:not(.mr-system-note-empty)::before {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 1px);
  bottom: 100%;
  width: 2px;
  height: 20px;
  background: linear-gradient(to bottom, transparent, var(--bg-color));

  .system-note:first-child & {
    display: none;
  }
}

.system-note-icon:not(.mr-system-note-empty)::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 1px);
  top: 100%;
  width: 2px;
  height: 20px;
  background: linear-gradient(to bottom, var(--bg-color), transparent);

  .system-note:last-child & {
    display: none;
  }
}
